:root {
   --purple-50: hsl(260, 100%, 95%);
   --purple-300: hsl(264, 82%, 80%);
   --purple-500: hsl(263, 55%, 52%);

   --white: hsl(0, 0%, 100%);
   --grey-100: hsl(214, 17%, 92%);
   --grey-200: hsl(0, 0%, 81%);
   --grey-400:  hsl(224, 10%, 45%);
   --grey-500: hsl(217, 19%, 35%);
   --dark-blue: hsl(219, 29%, 14%);
   --black: hsl(0, 0%, 7%);

   /* Typography */
   --tp1-font-size: 1.25rem;
   --tp1-line-height: 120%;
   --tp1-letter-spacing: 0rem;

   --tp2-font-size: .8125rem;
   --tp2-line-height: 110%;
   --tp2-letter-spacing: 0rem;

   --tp3-font-size: .8125rem;
   --tp3-line-height: 140%;
   --tp3-letter-spacing: 0rem;

   --tp4-font-size: .6875rem;
   --tp4-line-height: 110%;
   --tp4-letter-spacing: 0rem; 
}

* {
    font-family: 'Barlow Semi Condensed';
}

body {
    background-color: var(--grey-100);
    height: 100vh;
}

.container {
    width: 19rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* General styling */
.testimonial-container {
    border-radius: .825rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

.profile {
    display: flex;
    flex-direction: row;
}

.name, .grad {
    margin-left: 1rem;
    margin-top: .25rem;
} 

.name {
    margin-bottom: .3rem;
    font-size: var(--tp2-font-size);
    font-weight: 500;
    line-height: var(--tp2-line-height);
    letter-spacing: var(--tp2-letter-spacing);
}

.grad {
    font-size: var(--tp4-font-size);
    line-height: var(--tp4-line-height);
    letter-spacing: var(--tp4-letter-spacing);
}

img {
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    margin-top: .3rem;
}

.white-text {
    color: var(--white);
}

.testimonial-bold {
    font-size: var(--tp1-font-size);
    line-height: var(--tp1-line-height);
    letter-spacing: var(--tp1-letter-spacing);
    font-weight: 600;
    margin-top: .5rem;
}

.testimonial-light {
    font-size: var(--tp3-font-size);
    line-height: var(--tp3-line-height);
    letter-spacing: var(--tp3-letter-spacing);
}

.grey-500 {
    color: var(--grey-500);
}

.grey-400 {
    color: var(--grey-400);
}

.grey-200 {
    color: var(--grey-200);
}

.grey-100 {
    color: var(--grey-100);
}

.purple-50 {
    color: var(--purple-50);
}

/* Daniel */
.daniel-container {
    background-color: var(--purple-500);
    width: auto;
    height: auto;
}

.daniel-img {
    border: .2rem #A775F1 solid;
}

/* Jonathan */
.jonathan-container {
    background-color: var(--grey-500);
}


/* Jeanette */
.jeanette-container {
    background-color: var(--white);
}

/* Patrick */
.patrick-container {
    background-color: var(--dark-blue);
}

.patrick-img {
    border: .2rem #733FCB solid;
}

/* Kira */
.kira-container {
    background-color: var(--white);
}

@media screen and (min-width: 800px) {
  .container {
    width: 40.4rem;
    height: 72.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .testimonial-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .daniel-container {
    grid-area: 1/1/2/3;
  }

  .jonathan-container {
    grid-area: 2/1/3/2;
  }

  .jeanette-container {
    grid-area: 2/2/3/3;
  }

  .patrick-container {
    grid-area: 3/1/4/3;
  }

  .kira-container {
    grid-area: 4/1/5/3;
  }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 69.6rem;
        height: 36.3rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 2rem;
        margin-left: auto;
        margin-right: auto;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    
      .testimonial-container {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    
      .daniel-container {
        grid-area: 1/1/2/3;
      }
    
      .jonathan-container {
        grid-area: 1/3/2/4;
      }
    
      .jeanette-container {
        grid-area: 2/1/3/2;
      }
    
      .patrick-container {
        grid-area: 2/2/3/4;
      }
    
      .kira-container {
        grid-area: 1/4/3/5;
      }
}